Source: ros-hydro-openni-tracker
Section: misc
Priority: extra
Maintainer: "Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>"
Build-Depends: debhelper (>= 7.0.50~), libopenni-dev, libopenni-nite-dev, libopenni-sensor-primesense-dev, libusb-1.0-0-dev, ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-orocos-kdl, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-tf
Homepage: http://www.ros.org/wiki/openni_tracker
Standards-Version: 3.9.2

Package: ros-hydro-openni-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopenni-dev, libopenni-nite-dev, libopenni-sensor-primesense-dev, libusb-1.0-0-dev, ros-hydro-geometry-msgs, ros-hydro-orocos-kdl, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-tf
Description: The OpenNI tracker broadcasts the OpenNI skeleton frames using tf.
